@mixin backPulse {
  @include animate(backPulse, 0.5s, infinite, alternate, ease, 0);
}
@mixin backOutDown {
  @include animate(backOutDown, 1s, 1, normal, ease, 0.3);
}
@mixin backOutUp {
  @include animate(backOutUp, 1s, 1, normal, ease, 0.3);
}

@mixin animate($name, $duration, $iteration, $direction, $timing, $delay) {
  animation-duration: $duration;
  animation-iteration-count: $iteration;
  animation-name: $name;
  animation-direction: $direction;
  animation-timing-function: $timing;
  animation-delay: $delay;
}

@mixin keyFrames($animationName) {
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyFrames(backPulse) {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@include keyFrames(backOutDown) {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: translateY(700px) scale(0.7);
  }
}
@include keyFrames(backOutUp) {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-700px) scale(0.7);
  }
}
