@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import './effects';
@import './mixins';
$font-acme: 'Acme', sans-serif;
$primary-color: #997f41;
$secondary-color: #3a7ca5;
body {
  background: black;
  color: #fbaf00;
}

#search-container {
  @include centerPage(column);

  min-width: 700px;
  font-family: $font-acme;

  h1 {
    line-height: 108px;
    font-weight: 700;
    font-size: 2.3em;
    color: $primary-color;
  }
  .search-btn {
    font-size: 1.5em;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    color: #997f41;
    border: 1px solid #997f41;
    &:hover {
      @include backPulse;
      cursor: pointer;
    }
  }
  #search-query,
  .ap-name {
    color: #3a7ca5;
  }
}
.backOutUp {
  @include backOutUp;
}
.backOutDown {
  @include backOutDown;
  pointer-events: none;
}
.result-container {
  // display: none;
  height: 100vh;
}
.algolia-places {
  width: 50%;
  margin-bottom: 20px;
}
button.ap-input-icon:nth-child(5) {
  display: none;
}

#result-container {
  #location-name {
    height: 10vh;
    text-align: center;
  }
  #weather-container {
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #temperature-container {
    @include resultCard();
  }
  #condition-container {
    @include resultCard();
    flex-direction: column;
  }
  #change-temp {
    font-size: 2.3vw;
    button {
      border-radius: 5px;
      background: #6031a4;
      color: #ffb300;
      width: 40%;
      border: 2px solid black;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        border: 2px solid white;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
  #temp-info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
  }
  #condition {
    font-size: 3.37vw;
    margin: 0;
  }
  #temperature {
    font-size: 4.6vw;
    margin: 0;
  }
  #search-btn {
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s linear;
    max-height: 200px;

    &:hover {
      box-shadow: 0 0 15px #78b9eb;
    }
  }
  iframe {
    height: 35vh;
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 15px;
  }
  img[src$='.svg'] {
    height: 70%;
    max-width: 50%;
  }
}

.F::after {
  content: '\2109';
}
.C::after {
  content: '\2103';
}
