@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@-webkit-keyframes backPulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes backPulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes backOutDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(0px) scale(0.7);
            transform: translate(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateY(700px) scale(0.7);
            transform: translateY(700px) scale(0.7);
  }
}

@keyframes backOutDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(0px) scale(0.7);
            transform: translate(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateY(700px) scale(0.7);
            transform: translateY(700px) scale(0.7);
  }
}

@-webkit-keyframes backOutUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(0px) scale(0.7);
            transform: translate(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateY(-700px) scale(0.7);
            transform: translateY(-700px) scale(0.7);
  }
}

@keyframes backOutUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  20% {
    -webkit-transform: translate(0px) scale(0.7);
            transform: translate(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateY(-700px) scale(0.7);
            transform: translateY(-700px) scale(0.7);
  }
}

body {
  background: black;
  color: #fbaf00;
}

#search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  min-width: 700px;
  font-family: "Acme", sans-serif;
}

#search-container h1 {
  line-height: 108px;
  font-weight: 700;
  font-size: 2.3em;
  color: #997f41;
}

#search-container .search-btn {
  font-size: 1.5em;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  color: #997f41;
  border: 1px solid #997f41;
}

#search-container .search-btn:hover {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: backPulse;
          animation-name: backPulse;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  cursor: pointer;
}

#search-container #search-query,
#search-container .ap-name {
  color: #3a7ca5;
}

.backOutUp {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: backOutUp;
          animation-name: backOutUp;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.3;
          animation-delay: 0.3;
}

.backOutDown {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: backOutDown;
          animation-name: backOutDown;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.3;
          animation-delay: 0.3;
  pointer-events: none;
}

.result-container {
  height: 100vh;
}

.algolia-places {
  width: 50%;
  margin-bottom: 20px;
}

button.ap-input-icon:nth-child(5) {
  display: none;
}

#result-container #location-name {
  height: 10vh;
  text-align: center;
}

#result-container #weather-container {
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#result-container #temperature-container {
  background: #0c554e;
  height: 60%;
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
}

#result-container #condition-container {
  background: #0c554e;
  height: 60%;
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#result-container #change-temp {
  font-size: 2.3vw;
}

#result-container #change-temp button {
  border-radius: 5px;
  background: #6031a4;
  color: #ffb300;
  width: 40%;
  border: 2px solid black;
  cursor: pointer;
}

#result-container #change-temp button:hover {
  opacity: 0.8;
  border: 2px solid white;
}

#result-container #change-temp button:active {
  opacity: 0.5;
}

#result-container #temp-info-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#result-container #condition {
  font-size: 3.37vw;
  margin: 0;
}

#result-container #temperature {
  font-size: 4.6vw;
  margin: 0;
}

#result-container #search-btn {
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  max-height: 200px;
}

#result-container #search-btn:hover {
  -webkit-box-shadow: 0 0 15px #78b9eb;
          box-shadow: 0 0 15px #78b9eb;
}

#result-container iframe {
  height: 35vh;
  width: 50%;
  margin: auto;
  display: block;
  border-radius: 15px;
}

#result-container img[src$='.svg'] {
  height: 70%;
  max-width: 50%;
}
/*# sourceMappingURL=style.css.map */