@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import './effects';
@import './mixins';
$font-acme: 'Acme', sans-serif;
$primary-color: #47188f;
$rich-black: #004040;

#search-container {
  @include centerPage(column);

  min-width: 700px;
  font-family: $font-acme;
  background: black;
  background-size: 400% 400%;

  h1 {
    line-height: 108px;
    font-weight: 700;
    font-size: 2.3em;
    color: #dbdbdb;
  }
  // input[type='text'] {
  //   margin-bottom: 20px;
  //   width: 50%;
  //   max-width: 500px;
  //   border-radius: 15px;
  //   outline: none;
  //   padding: 10px;
  //   box-shadow: 0 0 10px #c1b93e;
  //   font-size: 1.5em;
  // }
  button {
    color: #ffffff;
    font-size: 1.5em;
    border-radius: 5px;
    background-color: transparent;
    outline: none;

    &:hover {
      @include backPulse;
      cursor: pointer;
    }
  }
}
.backOutUp {
  @include backOutUp;
}
.backOutDown {
  @include backOutDown;
  pointer-events: none;
}
.result-container {
  display: none;
  height: 100vh;
}
.algolia-places {
  width: 50%;
  margin-bottom: 20px;
}
button.ap-input-icon:nth-child(5) {
  display: none;
}
/* Inline #1 | http://127.0.0.1:5500/dist/index.html */
